
.search-icon {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.search-input .search-icon {
  position: absolute;
  right: auto;
  top:16px;
  font-size: 20px;
  left: 26px;
  color: #bbc0c4;
}
.search-input {
  position: relative;
  display: flex;
  padding: 10px 20px 10px 20px;
}
.search-input form {
  display: inherit;
  width: 100%;
}
.search-input input {
  padding: 7px 7px 7px 35px;
  margin: 0 10px 0 0;
  border: 1px solid #bbc0c4;
  border-radius: 3px;
  box-shadow: 0 0 0 rgba(255,255,255,0);
  font-size: 13px;
  font-family: inherit;
  line-height: 1.15384615;
  float:left;
  width:100%;
  min-width:400px;
}
.submit {
  color: #fff;
  border-radius:0;
  background-color: #6c757d;
  border-color: #6c757d;
  border: 1px solid transparent;
  padding: .375rem .75rem;
}
.submit:hover {
  cursor: pointer;
  background-color: #5a6268;
}
.results {
  padding: 0 20px 0 20px;
}
ul {
  list-style:none;
  padding-left: 0;
}

ul li {
  font-size: 15px;
  border-top: 1px solid #e3e3e3;
  padding: 20px 0 20px 0;
}
.tags {
  text-align: left;
  margin-top: 10px;
}
.tags span {
  display: inline-block;
  background-color: #E1ECF4;
  margin-right: 10px;
  padding: 3px 7px 3px 7px;
  color: #39739d;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 7px;
}
li a {
  text-decoration: none;
  font-size: 15px;
  color: #0077cc
}
li a:hover {
  color: #3af
}
.inline-table {
  display: flex;
  align-items: center;
}
.votes, .answers, .views  {
  text-align: center;
  display: table;
  padding: 5px;
  margin-right: 10px;
  font-size: 13px;
  color: #777;
}
li .votes span, li .answers span, li .views span {
  display: table-cell;
  display: block;
  vertical-align: middle;
}
.answers {
  border: 1px solid #999;
  border-radius: 5px;
  border-color: green;
  color: green
}
.start-search{
  text-align: center;
  font-size: 18px;
  color: #999;
}
.red {
  color: red
}